<div class="container-fluid">
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Meeting Point</a>
        <button class="btn btn-info pull-right">
            <a style="color: white;" [routerLink]="['/login']">Logout</a>
        </button>
    </nav>

    <div class="jumbotron">
        <h3>Hi {{userName}}.</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <h2 class="col-sm-8">Upcoming Meetings</h2>
                <input class="form-control col-sm-4" type="search" placeholder="Search" aria-label="Search">
            </div>
        </li>
        <li type="button" data-toggle="modal" data-target="#myModal" (click)="showMeetingDetails(user)" class="list-group-item" *ngFor="let user of users">
            {{user.firstName}} {{user.lastName}}
        </li>
    </ul>

    <div *ngIf="showList" class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="pull-left">Stats for the Meeting</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Age</th>
                                        <th>City</th>
                                        <th>Country</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Anna</td>
                                        <td>Pitt</td>
                                        <td>35</td>
                                        <td>New York</td>
                                        <td>USA</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Anna</td>
                                        <td>Pitt</td>
                                        <td>35</td>
                                        <td>New York</td>
                                        <td>USA</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
</div>