.meeting-card{
    padding: 1%;
    box-shadow: 5px 10px 18px #000000;
    background: rgba(255,255,255,0.5);
}

.list-group-item {
    cursor: pointer;
}

.img-thumbnail{
    height: 100px;
    width: 100px;
}
.table{
    text-align: center;
}

.trunc{
    display: inherit;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
